/*
.name gives you a class.  In the html file set class = "name", for that seciton to have the class's properties
*/

.h1 {
    color: red;
    font-family: 'Times New Roman', Times, serif
}

body {
    background-color: aquamarine;
}
/*form {
    background-color: brown;
}*/

div {
    white-space: pre-wrap;
    color: black;
}
